* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS';
}

*:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	color: hsl(0, 0%, 20%);
}

input {
	display: block;
	height: 2rem;
	padding: 0 0.5rem;
}

button {
	display: inline-block;
	min-width: 4rem;
	height: 2rem;
	cursor: pointer;
	border-radius: 0.25rem;
	border: none;
}

form {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	gap: 0.5rem;
	margin: auto;
}

.hidden {
	display: none;
}

.login__button--send {
	background-color: #04c2c9;
	color: #fff;
	width: 100%;
	margin-top: 0.75rem;
}

.login__error {
	color: salmon;
	font-size: 0.75rem;
}
